body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

div#root {
    
}
table {
    width: 70%;    
}
th {
    border: 1px solid;
    padding: 5px;
    min-width: 50px;
    max-width: 100px;
    margin: 50px;
}